In [1]:
import pandas as pd

In [2]:
customers_with_errors = pd.read_csv("datasets/customers_with_errors.csv", delimiter=';')

In [4]:
deco_sales = pd.read_csv("datasets/deco_sales")

,Product ID,Customer ID,Transaction Date,Currency,Amount,Quantity,Update Date
0,1,CUST001,2024-11-05,USD,250.0,10,2024-11-06
1,2,CUST002,2024-11-07,USD,220.0,4,2024-11-08
2,3,CUST003,2024-11-10,EUR,72.0,4,2024-11-12
3,4,CUST004,2024-11-09,EUR,60.0,4,2024-11-10
4,5,CUST005,2024-11-11,USD,150.0,5,2024-11-12
...,...,...,...,...,...,...,...
65,16,CUST016,2024-11-02,USD,480.0,12,2024-11-03
66,17,CUST017,2024-11-05,EUR,680.0,8,2024-11-06
67,18,CUST018,2024-11-01,GBP,420.0,6,2024-11-02
68,19,CUST019,2024-11-13,USD,300.0,10,2024-11-14
69,20,CUST020,2024-11-04,EUR,45.0,3,2024-11-05

In [5]:
deco_product = pd.read_csv("datasets/deco_product", delimiter='\t')

,Product ID,Product Name,Category,Starting Price,Selling Price,Currency,Current Stock,Supplier,Update Date,Availability
0,1,Decorative Vase,Vases,15.0,25.0,USD,100,HomeDecor Inc.,01/11/2024,Available
1,2,Elegant Wall Mirror,Mirrors,50.0,55.0,USD,50,Luxury Living,01/11/2024,Available
2,3,Wooden Frame,Frames,12.0,18.0,EUR,200,Rustic Charm,15/10/2024,Available
3,4,Candle Holder,Candles,10.0,15.0,EURO,150,Cozy Creations,20/10/2024,Available
4,5,Throw Pillow,Pillows,25.0,30.0,USD,100,Plush Home,10/11/2024,Out of Stock
5,6,Decorative Bowl,Bowls,20.0,22.0,GBP,50,Global Traders,12/11/2024,Available
6,7,Floor Lamp,Lighting,40.0,60.0,EUR,80,Elegant Lights,05/11/2024,Out of Stock
7,8,Modern Art Painting,Art,100.0,150.0,USD,30,ArtWorks Co.,07/11/2024,Available
8,9,Antique Clock,Clocks,75.0,100.0,EUR,10,Timeless Treasures,03/11/2024,Out of Stock
9,10,Decorative Rug,Rugs,120.0,150.0,USD,-60,Rugs Plus,10/11/2024,Available
10,11,Ceramic Pot,Pots,25.0,35.0,GBP,200,Greenhouse Goods,02/11/2024,Limited Stock
11,12,Luxury Sofa,Furniture,300.0,450.0,USD,5.4,Luxe Comforts,15/11/2024,Limited Stock
12,13,Fake Plant,Plants,20.0,30.0,USD,300,HomeDecor Inc.,01/11/2024,Available
13,14,Crystal Vase,Vases,25.0,30.0,USD,0,Crystal Creations,04/11/2024,Available
14,15,Abstract Sculpture,Art,150.0,180.0,EUR,15,Modern Artworks,09/11/2024,Available
15,16,Decorative Tray,Trays,30.0,40.0,USD,120,Trendy Home,03/11/2024,Available
16,17,Large Floor Mirror,Mirrors,75.0,85.0,EURO,a20,Mirror Magic,30/10/2024,Available
17,18,Velvet Curtains,Curtains,50.0,70.0,GBP,80,Elegant Home Goods,12/11/2024,Available
18,19,Brass Lantern,Lighting,35.0,50.0,USD,60,Lantern Craft,02/11/2024,Available
19,20,Wall Decal,Wall Art,10.0,15.0,EUR,0,WallArt Creations,25/10/2024,Out of Stock

## First dataset : customers_with_errors.csv

In [62]:
len(customers_with_errors)

51

In [61]:
customers_with_errors.head()

,Customer ID,Title,First Name,Middle Name,Last Name,Email,Phone Number,Street,City,Postal Code,Country,Birthday,Age,Subscription Date,Update Date
0,CUST001,Mr.,Robert,Anna,Cain,robert.cain@outlook.com,14165551234,75944 John Forges,NaN,NaN,United States,25/10/1961,63.0,17/07/2021,01/06/2022
1,CUST002,Ms.,Lisa,Brian,Williams,lisa.williams@example.fr,19055556789,34633 Sosa Fork,NaN,NaN,United States,11/06/1969,55.0,09/01/2023,22/11/2024
2,CUST003,NaN,Richard,Cameron,Beard,richard.beard@example.fr,16475552345,8474 Crystal Unions Suite 449,NaN,NaN,United States,29/09/1988,36.0,18/04/2021,05/01/2023
3,CUST004,Mr.,Nicole,Gina,Obrien,nicole.obrien@outlook.com,16045553456,8603 Scott Turnpike Suite 266,South Madisonside,25568.0,United States,30/07/1997,27.0,27/02/2020,13/03/2021
4,CUST005,Mr.,Jeremy,Travis,Leon,jeremy.leon@yahoo.com,14035554567,074 Ryan Loaf Suite 615,North Kimberly,NaN,United States,28/08/1953,71.0,16/04/2023,02/04/2024

In [38]:
customers_with_errors.describe(include='all')

,Customer ID,Title,First Name,Middle Name,Last Name,Email,Phone Number,Street,City,Postal Code,Country,Birthday,Age,Subscription Date,Update Date
count,40,32,40,40,40,40,38,38,20,18.000000,40,40,40.000000,40,40
unique,40,5,36,39,38,40,38,38,20,NaN,1,40,NaN,40,39
top,CUST001,Mr.,Joshua,Brandon,Williams,robert.cain@outlook.com,14165551234,75944 John Forges,South Madisonside,NaN,United States,25/10/1961,NaN,17/07/2021,04/06/2023
freq,1,11,3,2,2,1,1,1,1,NaN,40,1,NaN,1,2
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,52985.722222,NaN,NaN,48.550000,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27850.812593,NaN,NaN,19.281917,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3292.000000,NaN,NaN,21.000000,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28160.750000,NaN,NaN,29.000000,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50987.000000,NaN,NaN,46.500000,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70203.500000,NaN,NaN,67.750000,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99725.000000,NaN,NaN,77.000000,NaN,NaN

##### Completeness: Identify missing data

In [44]:
missing_values=customers_with_errors.isnull().sum()
missing_percent= ((missing_values) / len(customers_with_errors)) * 100

print(round(missing_percent,2))

Customer ID          21.57
Title                37.25
First Name           21.57
Middle Name          21.57
Last Name            21.57
Email                21.57
Phone Number         25.49
Street               25.49
City                 60.78
Postal Code          64.71
Country              21.57
Birthday             21.57
Age                  21.57
Subscription Date    21.57
Update Date          21.57
dtype: float64

##### Identify incomplete data

In [63]:
empty_rows= customers_with_errors[customers_with_errors.isnull().all(axis=1)]
print("Number of empty rows:",len(empty_rows))

Number of empty rows: 11

## Second dataset : Deco sales

In [35]:
deco_sales.head()

,Product ID,Customer ID,Transaction Date,Currency,Amount,Quantity,Update Date
0,1,CUST001,2024-11-05,USD,250.0,10,2024-11-06
1,2,CUST002,2024-11-07,USD,220.0,4,2024-11-08
2,3,CUST003,2024-11-10,EUR,72.0,4,2024-11-12
3,4,CUST004,2024-11-09,EUR,60.0,4,2024-11-10
4,5,CUST005,2024-11-11,USD,150.0,5,2024-11-12

In [47]:
deco_sales.describe(include='all')

,Product ID,Customer ID,Transaction Date,Currency,Amount,Quantity,Update Date
count,70.000000,70,70,70,70.000000,70.000000,70
unique,NaN,50,39,3,NaN,NaN,39
top,NaN,CUST001,2024-11-10,USD,NaN,NaN,2024-11-13
freq,NaN,2,7,35,NaN,NaN,5
mean,9.785714,NaN,NaN,NaN,344.257143,6.257143,NaN
std,5.763184,NaN,NaN,NaN,306.326466,5.827684,NaN
min,1.000000,NaN,NaN,NaN,0.000000,1.000000,NaN
25%,5.000000,NaN,NaN,NaN,120.000000,3.000000,NaN
50%,9.000000,NaN,NaN,NaN,250.000000,4.000000,NaN
75%,14.750000,NaN,NaN,NaN,480.000000,8.000000,NaN
max,20.000000,NaN,NaN,NaN,1350.000000,30.000000,NaN

##### Completeness: Identify missing data

In [48]:
missing_values=deco_sales.isnull().sum()
missing_percent= ((missing_values) / len(deco_sales)) * 100

print(round(missing_percent,2))

Product ID          0.0
Customer ID         0.0
Transaction Date    0.0
Currency            0.0
Amount              0.0
Quantity            0.0
Update Date         0.0
dtype: float64

##### Identify incomplete data

In [64]:
empty_rows= deco_sales[deco_sales.isnull().all(axis=1)]
print("Number of empty rows:",len(empty_rows))

Number of empty rows: 0

## Third data set : deco product

In [32]:
deco_product.head()

,Product ID,Product Name,Category,Starting Price,Selling Price,Currency,Current Stock,Supplier,Update Date,Availability
0,1,Decorative Vase,Vases,15.0,25.0,USD,100,HomeDecor Inc.,01/11/2024,Available
1,2,Elegant Wall Mirror,Mirrors,50.0,55.0,USD,50,Luxury Living,01/11/2024,Available
2,3,Wooden Frame,Frames,12.0,18.0,EUR,200,Rustic Charm,15/10/2024,Available
3,4,Candle Holder,Candles,10.0,15.0,EURO,150,Cozy Creations,20/10/2024,Available
4,5,Throw Pillow,Pillows,25.0,30.0,USD,100,Plush Home,10/11/2024,Out of Stock

In [34]:
deco_product.describe(include='all')

,Product ID,Product Name,Category,Starting Price,Selling Price,Currency,Current Stock,Supplier,Update Date,Availability
count,20.00000,20,20,20.000000,20.000000,20,20,20,20,20
unique,NaN,20,16,NaN,NaN,4,15,19,14,3
top,NaN,Decorative Vase,Vases,NaN,NaN,USD,100,HomeDecor Inc.,01/11/2024,Available
freq,NaN,1,2,NaN,NaN,10,2,2,3,14
mean,10.50000,NaN,NaN,59.350000,80.500000,NaN,NaN,NaN,NaN,NaN
std,5.91608,NaN,NaN,68.698636,99.724093,NaN,NaN,NaN,NaN,NaN
min,1.00000,NaN,NaN,10.000000,15.000000,NaN,NaN,NaN,NaN,NaN
25%,5.75000,NaN,NaN,20.000000,28.750000,NaN,NaN,NaN,NaN,NaN
50%,10.50000,NaN,NaN,32.500000,45.000000,NaN,NaN,NaN,NaN,NaN
75%,15.25000,NaN,NaN,75.000000,88.750000,NaN,NaN,NaN,NaN,NaN
max,20.00000,NaN,NaN,300.000000,450.000000,NaN,NaN,NaN,NaN,NaN

##### Completeness: Identify missing data

In [51]:
missing_values=deco_product.isnull().sum()
missing_percent= ((missing_values) / len(deco_product)) * 100
print(round(missing_percent,2))

Product ID        0.0
Product Name      0.0
Category          0.0
Starting Price    0.0
Selling Price     0.0
Currency          0.0
Current Stock     0.0
Supplier          0.0
Update Date       0.0
Availability      0.0
dtype: float64